<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.books.any? %>
  <p>
    <strong>Books:</strong>
    <ul>
      <%= render @books %>
    </ul>
  </p>
<% end %>

<%= render partial: 'book_form', :locals => { :book => Book.new } %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
